<%= form_for(@restaurant) do |f| %>
  <% if @restaurant.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@restaurant.errors.count, "error") %> prohibited this restaurant from being saved:</h2>

      <ul>
      <% @restaurant.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :url_slug %><br />
    <%= f.text_field :url_slug %>
  </div>
  <div class="field">
    <%= f.label :address %><br />
    <%= f.text_field :address %>
  </div>
  <div class="field">
    <%= f.label :phone %><br />
    <%= f.text_field :phone %>
  </div>
  <div class="field">
    <%= f.label :website %><br />
    <%= f.text_field :website %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </div>
  <h3>Hours</h3>
  <div class="field">
    <%= f.label :sunday %><br />
    <%= f.text_field :sunday %>
  </div>
  <div class="field">
    <%= f.label :monday %><br />
    <%= f.text_field :monday %>
  </div>
  <div class="field">
    <%= f.label :tuesday %><br />
    <%= f.text_field :tuesday %>
  </div>
  <div class="field">
    <%= f.label :wednesday %><br />
    <%= f.text_field :wednesday %>
  </div>
  <div class="field">
    <%= f.label :thursday %><br />
    <%= f.text_field :thursday %>
  </div>
  <div class="field">
    <%= f.label :friday %><br />
    <%= f.text_field :friday %>
  </div>
  <div class="field">
    <%= f.label :saturday %><br />
    <%= f.text_field :saturday %>
  </div>
  
   <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
