<footer class="well">
  <p><%= link_to "Add Your Restaurant", pages_home_path %> | <%= link_to "About", pages_about_path %> | <%= link_to "Contact", pages_contact_path %> | Press
  <br>&copy; <%= link_to "pep.io", root_url, class: "copy" %> 2010-<%= Time.now.year %></p>
</footer>
