<!DOCTYPE html>
<html lang="en">
  <%= render "layouts/head" %>
  <body>

    <%= render "layouts/navbar" %>
    <div class="container">    
      <%= yield %>
      <%= render "layouts/footer" %>
    </div> <!-- /container -->
  </body>
  <%= render "layouts/js_bottom" %>
</html>
